source/sentence-codetection/20150403.mat
source/sentence-codetection/20150306.mat
source/sentence-codetection/20150314.mat
source/sentence-codetection/20150310.mat
source/sentence-codetection/20150227.mat
source/new-sentence-codetection/201512*.mat
source/new-sentence-codetection/201601*.mat
source/new-sentence-codetection/test-gm-data.sc
source/new-sentence-codetection/20160201.mat
source/new-sentence-codetection/20160209_videos.mat
source/new-sentence-codetection/20160211.mat